[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"

[packages]
invenio-theme = "*"
invenio-i18n = "*"
invenio-assets = "*"
invenio-formatter = "*"
invenio-db = "*"
invenio-records = "*"
invenio-records-ui = "*"
invenio-pidstore = "*"

[requires]
python_version = "3.5"
